.color1 {
    background-color:#cde5d0;
    }
.color2 {
    background-color:#9acba0;
    }

td {
    padding:4px;
    }

table {
    font-size:15px;
}

.period {
    width:115px;
}

.arbGiver {
	width:50px;
	
}