{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}Velkommen | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
	min-height:0px !important;
}

{% include 'tables.css' %}
{% endblock %}
</style>



{% block content %}
 {% if not request.user.is_authenticated %}
<h1> {{ message }}</h1>

	{% else %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1> {{ title }} </h1>

        <table>
            <tr style="color:Blue;" class="color1">
                <td>Nr.</td>
                <td>Arb.giver</td>
                <td>Stilling</td>
                <td>Oppgaver</td>
                <td>Periode</td></tr>
            {% for instanse in queryset %}
            <tr class="{% cycle 'color2' 'color1' %}">
                <td>{{ forloop.revcounter }}</td>
                <td>{{ instanse.employer }}</td>
                <td>{{ instanse.position }}</td>
                <td>{{ instanse.chores }}</td>
                <td class="period">  {{ instanse.year_from.year }} - {{ instanse.year_to.year }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>



</div>
{{ block.super }}
{% endif %}

{% endblock %}





