{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Velkommen | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#0E3D14;
	color: #FFF;
}
{% endblock %}
</style>


  
  



{% block jumbotron %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-md-6'>
		<h1>Sten Terje Falnes</h1>
		<p>Hei, denne siden er laget for å gi en yrkesmessig presentasjon av meg.</p>
		<p>Videoen viser mitt siste prosjekt, "e-Farledsbevis".</p>
		<!--<p>Les mer om farledsbeviset  <a href="http://www.kystverket.no/farledsbevis" target="_blank">her</a>.</p>-->
		{% if not request.user.is_authenticated %}
		<p>Logg inn for å se mer.</p>

		{% endif %}
		</div>
		<div class='col-md-6' >
			<iframe name="iframe_home" width="560" height="315" src="https://www.youtube.com/embed/no3K9f5x0aw?list=PLQ3VqW26gKgQQb0i4zvfdE9wWBdTg-ko-" frameborder="0" allowfullscreen></iframe>

 		</div>
		</div>
	</div>
 </div>

{% endblock %}

















